<mat-card>
    <mat-form-field>
        <mat-label>Enter Phone Number</mat-label>
        <input
            matInput="text"
            placeholder="7 or 10 digits phone number"
            [formControl]="phoneNumber"
        />
    </mat-form-field>
    <button
        id="submit-button"
        mat-raised-button
        color="primary"
        [disabled]="isDisabled()"
        (click)="submitNumber()"
    >
        Submit
    </button>
    <p id="error-text" *ngIf="isDisabled()">{{ phoneNumberStatus[1] }}</p>
</mat-card>
<mat-card>
    <app-combinations-stats
        [totalNumberOfCombinations]="totalNumberOfCombinations"
        [paginationConfig]="paginationConfig"
        [currentPageNumber]="currentPageNumber"
    ></app-combinations-stats>
</mat-card>
<mat-card
    ><app-combinations-list
        [combinations]="combinations"
    ></app-combinations-list
></mat-card>
<mat-card>
    <app-pagination
        [paginationConfig]="paginationConfig"
        (pageNumberClicked)="fetchCombinationsPerPage($event)"
    ></app-pagination>
</mat-card>
