<mat-card>
    <app-phone-number-form
        (submitClick)="fetchCombinationsPerPage($event)"
        (clearClick)="clearResults()"
    ></app-phone-number-form>
</mat-card>
<mat-card>
    <app-combinations-stats
        [totalNumberOfCombinations]="totalNumberOfCombinations"
        [paginationConfig]="paginationConfig"
        [currentPageNumber]="currentPageNumber"
    ></app-combinations-stats>
</mat-card>
<mat-card
    ><app-combinations-list
        [combinations]="combinations"
    ></app-combinations-list
></mat-card>
<mat-card>
    <app-pagination
        [paginationConfig]="paginationConfig"
        (pageNumberClick)="fetchCombinationsPerPage($event)"
    ></app-pagination>
</mat-card>
